/*
 * Theme: Colors
 *
 */

$color-white: #FFFFFF;
$color-dark: #1F1A38;

$color-primary: #7E5A9B;
$color-secondary: #E4B7E5;
$color-accent: #66CED6;
$color-warn: #EE4266;

/*
 * Theme: Fonts
 *
 */

$font-primary: "Faustina", "Georgia", serif;

/*
 * Theme: Elements
 *
 */

$button-radius: 4px;
