.button {
  border: 1px solid;
  border-radius: $button-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $font-primary;
  font-size: 16px;
  height: 40px;
  transition: $easeInOut;
  
  &:focus {
    border: none;
    outline: none;
  }
}

.button-large {
  font-size: 1.25rem;
  height: 50px;
  min-width: 160px;
  padding: 0 20px;
}

.button-primary {
  background-color: transparent;
  border-color: $color-secondary;
  color: $color-secondary;

  &:hover {
    border-color: darken($color-secondary, 10%);
    color: darken($color-secondary, 10%);
  }
}
