/*
 * Color Helpers
 */

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-accent {
  color: $color-accent;
}

.color-warn {
  color: $color-warn;
}

.color-dark {
  color: $color-dark;
}

/*
 * Layout Helpers
 */

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

/*
 * Type Helpers
 */

.lh1 {
  line-height: 1;
}

.font-big {
  font-size: 48px;
}

/*
 * Element Helpers
 */

a.border {
  &:hover {
    border-color: darken($color-secondary, 10%);
  }
}

.border {
  border-color: $color-secondary;
  border-radius: $border-radius;
}
