/*
 * Color Helpers
 */

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-accent {
  color: $color-accent;
}

.color-warn {
  color: $color-warn;
}

.color-dark {
  color: $color-dark;
}

/*
 * Layout Helpers
 */

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

/*
 * Type Helpers
 */

.lh-1 {
  line-height: 1;
}
