input {
  background-color: $color-secondary;
  border: none;
  border-left: 3px solid $color-secondary;
  border-radius: $border-radius;
  color: $color-primary;
  font-size: 1.2rem;
  font-family: $font-primary;
  height: 50px;
  padding: 0.5rem;
  transition: $easeInOut;
  width: 100%;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: lighten($color-dark, 30%);
  }

  &::-webkit-input-placeholder {
    color: $color-primary;
  }

  &::-moz-placeholder {
    color: $color-primary;
  }
}

input[type="password"] {
  letter-spacing: 2px;
}

textarea {
  background-color: $color-secondary;
  border: none;
  border-left: 3px solid $color-secondary;
  border-radius: $border-radius;
  color: $color-primary;
  font-size: 1.2rem;
  font-family: $font-primary;
  // height: 120px;
  padding: 0.75rem 0.5rem;
  transition: $easeInOut;
  width: 100%;
  resize: none;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: lighten($color-dark, 30%);
  }


  &::-webkit-input-placeholder {
    color: $color-primary;
  }

  &::-moz-placeholder {
    color: $color-primary;
  }
}
