/*
 * Color Helpers
 */

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-accent {
  color: $color-accent;
}

.color-warn {
  color: $color-warn;
}

.color-dark {
  color: $color-dark;
}

/*
 * Layout Helpers
 */

.h100 {
  height: calc(100% - 64px);
}

.w100 {
  width: 100%;
}

.m-auto {
  margin: auto;
}

/*
 * Type Helpers
 */

.lh1 {
  line-height: 1;
}

.oversized {
  font-size: 4rem;
}

.page-wrapper {
  position: fixed;
  top: 64px;
  width: 100%;
  overflow: scroll;
}

/*
 * Element Helpers
 */

a.border {
  &:hover {
    border-color: darken($color-secondary, 10%);
  }
}

.border {
  border-color: $color-secondary;
  border-radius: $border-radius;
}

.background-secondary {
  color: $color-primary;
  background-color: $color-secondary;

  a {
    color: $color-primary;

    &:hover {
      color: darken($color-secondary, 10%);
    }
  }
}

.box-shadow-with-radius {
  box-shadow: 0 0 10px 4px rgba(0, 0, 0,0.08);
  border-radius: 4px;
}
